pandas
numpy
requests
pillow
firebase-admin
onnxruntime
streamlit
streamlit-modal
streamlit-extras
streamlit-cropper
streamlit-cookies-manager
streamlit-pdf-viewer
jinja2
weasyprint
beautifulsoup4
rembg
pillow-avif-plugin
libcairo2
pango1.0
libgdk-pixbuf2.0-0